In [6]:
import numpy as np
import pandas as pd
import random

In [4]:
# Vector con datos aleatorios
vecotr = [random.randint(0,100) for i in range(50)]

In [7]:
df = pd.DataFrame(vecotr)

In [9]:
df.describe()

               0
count  50.000000
mean   45.820000
std    27.225206
min     5.000000
25%    23.750000
50%    44.000000
75%    65.250000
max    99.000000

In [11]:
cov = (1/df.mean)*()

12

In [14]:
suma = 0

for value in df[0]:
    suma += value-df.mean(0)

TypeError: unsupported operand type(s) for -: 'int' and 'method'

In [24]:
1/df.count(0)*(df - df.mean(0))*(df-df.mean(0))

            0
0    7.856648
1   22.875848
2    6.351048
3   30.139848
4    0.066248
5   26.179848
6   23.365448
7   31.712648
8    2.794248
9   56.562248
10   2.967048
11   1.928648
12  21.543048
13   5.903048
14   3.474248
15   7.856648
16   5.903048
17   2.794248
18   0.202248
19  18.997448
20  10.415048
21  33.325448
22  25.661448
23  30.701448
24   3.474248
25  13.707848
26   0.291848
27   0.930248
28  18.997448
29  22.018248
30   0.464648
31  21.543048
32   1.685448
33  56.562248
34  17.029448
35   1.338248
36   5.005448
37   1.338248
38  33.325448
39  24.752648
40  10.746248
41  11.693448
42  54.455048
43   0.066248
44   2.794248
45   8.144648
46   0.095048
47   2.967048
48  18.997448
49  14.386248

In [28]:
df.var(0)

0    741.211837
dtype: float64